<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yugo.mysecretary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="俺の秘書"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Title"
            android:label="俺の秘書">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calender" />
        <activity android:name=".Schedule" />
        <activity android:name=".FirstSet" />
        <activity android:name=".SecondSet" />
        <activity android:name=".ScheduleSet" />
    </application>

</manifest>